bin/
obj/
*.user
.vs/
*.suo
*.userosscache
*.sln.docstates

**/appsettings.Development.json
**/appsettings.Local.json
**/appsettings.Production.json
**/secrets.json

node_modules/
dist/
build/
.env
.env.local
.env.*.local

.idea/
.vscode/
*.swp

Thumbs.db
.DS_Store

*.log
logs/